# START CRON JOB LIST
## Collect biking data every minute
* * * * * cd /usr/src/app && python3 collect-bikes.py

## Collect weather data every 15 minutes
*/15 * * * * cd /usr/src/app && python3 collect-weather.py

## Train regressors every Sunday at 3:30 AM
30 3 * * 6 cd /usr/src/app && python3 train-regressors.py
# END CRON JOB LIST
