{% extends 'core/base.html' %}

{% block content %}
<h1 class="title">Archives</h1>
<table class="table">
  <thead>
    <tr>
      <th>City</th>
      <th>Country</th>
      <th>Provider</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for city in cities %}
    <tr>
      <td>{{ city.name }}</td>
      <td>{{ city.country.name }}</td>
      <td>{{ city.provider.name }}</td>
      <td><a href="/archives/{{ city.slug }}-{{ city.id }}">Link</a></td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock %}
